@import url('https://fonts.googleapis.com/css?family=Cantarell:i|Droid+Serif:700');

:root {
    --primary-color: #22577A;
    --secondary-color: #FFBF00;
    --accent1-color: #57CC99;
    --accent2--color: #FFEF00;
    
    --heading-font:'Roboto', sans-serif;
    --paragraph-font:'________', serif;

    --nav-background-color: #22577A;
    --nav-link-color: #FDEE00;
    --nav-hover-link-color: #57CC99;
    --nav-hover-background-color: #E9D66B;
}

body {
    font-size: var(--body-1);
    max-width: 100%;
    padding: var(--contentVerticalOffset);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--BLACK);
}

header {
    padding: 20px;
    background-color: var(--accent1-color)
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color)
    font-size: 1.2rem
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a: link, nav a:visited {
    color: var(--nav hover-link-color);
    background-color: var(--nav-hover-background-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}








